.login-wrapper {
    position: relative;
    width: 100vw;
    height: 92vh;
}

.login-wrapper img {
    top: 0;
    margin-top: -41px;
    /* margin-left: 1px; */
    width: 100vw;
    height: 101vh;
    object-fit: cover;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 483px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 336px;
}

.form-group {
    margin-bottom: 15px;
}

input {
    width: 278px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}
