<form>
    <div class="mb-3">
        <label class="form-label" for="nombre">Nombre:</label>
        <input id="nombre" name="nombre" class="form-control" type="text" [(ngModel)]="producto.name" required/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="descripcion">Descripción:</label>
        <input id="descripcion" name="descripcion" class="form-control" type="text" [(ngModel)]="producto.descripcion" required/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="precio">Precio:</label>
        <input id="precio" name="precio" class="form-control" type="number" [(ngModel)]="producto.price" required/>
    </div>
    <button class="btn btn-success" type="button" (click)="saveProduct()">Guardar</button>
</form>
